#PostgreSQL
PROD_DATABASE_URL=psql://bart:t6k68kxh4kk6@127.0.0.1:5432/factory_db

#General Settings
DJANGO_DEBUG=on
DJANGO_ALLOWED_HOST_NAME=wagtail.chrisdev.com
DJANGO_SECRET_KEY=eky3tkh2gj3lr6hrarjmncadgkyazve2ij2nipv2ixihimhodo


#EMAIL 
EMAIL_HOST='email_host'
EMAIL_FROM='support@chrisdev.com'
EMAIL_USER='email_user'
EMAIL_PASSWD='email_passwd'

#SENTRY DSN
SENTRY_DSN='sentry_dsn'
